# MongoDB Configuration
MONGO_URI=mongodb://yourUser:yourPassword@HOST:PORT/?authSource=admin
DB_NAME=your_db_name
COLLECTION_NAME=your_collection_name

# Logging Configuration
LOG_LEVEL=YOUR_LOG_LEVEL              # error, warn, info, http, verbose, debug, silly
LOG_FILE_PATH=./local/path/logs       # Directori on es guardaran els logs
LOG_MAX_SIZE=20m                      # Mida màxima per fitxer (20MB)
LOG_MAX_FILES=14d                     # Temps de retenció dels logs (14 dies)