# MongoDB Configuration
MONGO_URI=mongodb://yourUser:yourPassword@HOST:PORT/?authSource=admin
DB_NAME=your_db_name
COLLECTION_SESSIONS_NAME=your_collection_session_name
COLLECTION_PLAYER_POSITIONS_NAME=your_collection_player_positions_name

# WebSocket Server Configuration
WS_PORT=WS_PORT_NUMBER
WS_HOST=WS_HOST_ADDRESS

# Logging Configuration
LOG_LEVEL=YOUR_LOG_LEVEL              # error, warn, info, http, verbose, debug, silly
LOG_FILE_PATH=./local/path/logs       # Directori on es guardaran els logs
LOG_MAX_SIZE=20m                      # Mida màxima per fitxer (20MB)
LOG_MAX_FILES=14d                     # Temps de retenció dels logs (14 dies)

# Loki Configuration
LOKI_HOST=http://HOST:PORT