# MongoDB Configuration
DB_PROTOCOL=db_protocol
DB_HOST=db_host
DB_PORT=db_port
DB_USERNAME=db_username
DB_PASSWORD=db_password
DB_NAME=db_name
DB_COLLECTION=db_collection

# Data Directory
DATA_DIR=data_directory
DATA_FILE=data_filename